@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Joan', serif;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
}

section .heading {
  position: relative;
  margin-top: 30px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: century;
  font-size: 3rem;
}

section .body {
  padding: 50px;
}

#home {
  background: #e76f51;
}

#home .me {
  position: absolute;
  top: 10%;
  right: 45%;
}

#home .me img {
  height: 90vh;
  width: auto;
}

#home .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30%;
  right: 0%;
  font-family: century;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

#home .heading p {
  margin-top: 20px;
  font-size: 1.5rem;
}

nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

nav img {
  height: 50px;
  width: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

nav ul li {
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: wheat;
  padding: 8px 25px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

#about {
  color: #000;
  background: #f4a261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

#about .heading {
  margin-bottom: 20px;
}

#about .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .boxs div {
  margin-left: auto;
  margin-right: auto;
}

#about .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 70vh;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 15px;
}

.box ul {
  margin-top: 15px;
  padding: 15px 25px;
  width: inherit;
  font-size: 20px;
  text-align: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.box ul li {
  margin-bottom: 20px;
}

#personalInformation {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ca7873), color-stop(50%, wheat));
  background: linear-gradient(to top, #ca7873 50%, wheat 50%);
  background-size: 100% 200%;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#education {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #a84a7f), color-stop(50%, wheat));
  background: linear-gradient(to top, #a84a7f 50%, wheat 50%);
  background-size: 100% 200%;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#Skill {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #444b8e), color-stop(50%, wheat));
  background: linear-gradient(to top, #444b8e 50%, wheat 50%);
  background-size: 100% 200%;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#about .boxs .box:hover {
  background-position: left bottom;
  color: wheat;
  border: none;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.box ul li ul {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.box ul li ul li {
  margin: 0px;
  margin-left: 15px;
  padding: 0;
  list-style: circle;
}

#experience {
  background: #000;
}

.timeline {
  margin: 0 auto;
  max-width: 100vh;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3px 1fr;
      grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}

#projects {
  color: #000;
  background: #e9c46a;
}

#projects .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .body div {
  margin-left: auto;
  margin-right: auto;
}

.project img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-height: 25vh;
  max-width: 30vw;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
}

.project h2 {
  margin-top: 15px;
}

.project h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.project p {
  text-align: left;
  font-size: 16px;
}

#contact {
  color: #000;
  height: 40vh;
  background: #2a9d8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact div {
  padding: 30px;
}

#contact .heading2 {
  margin-right: auto;
  position: relative;
  margin-top: 30px;
  margin-left: 70px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: century;
  font-size: 3rem;
}

#contact ul {
  text-align: baseline;
}

#contact .body ul {
  text-align: right;
  font-size: 20px;
}

#contact .body li {
  margin-top: 15px;
  margin-bottom: 10px;
}

#contact .body ul img {
  padding: 0px 30px;
  height: 30px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */